body{
	background-color: #f3f3f3;
	padding:0;
	margin:10px;
}  
.page {
	margin: 7px;
	border: 5px solid black ;
	border-radius: 25px;
	background-color:#E0FFFF;
	overflow: hidden;
}

.main-nav{
	background-image:url(https://www.jaarbeurs.nl/foto/agenda/zorgict.jpg);
	background-repeat:repeat;
	background-size:cover;
	background-position:center -40px;
	padding: 200px 100px 100px 00px;
}

.main-nav a{
	display:inline-block;
	border-style:solid;
	border-radius: 5px 5px 5px 5px;
	border-bottom: 0px solid white;
	background-color:brown(255, 255, 255, 0.64);
	color:black;
	text-decoration:none;
	padding: 15px 10px;
	position:relative;
	top:100px;
	transition: top 300ms ease;
}

.main-nav a:hover{
	top:100px;
}

.page-content{
	padding: 20px;
}

h1{
	background-color:#E0FFFF;
	margin: 0px;
	padding: 10px 0px;
	font-family:Humanistic;
}

h2{
  font-family:Graffiti;
}
h3{ 
  font-family:Graffiti;
}  
.top-nav ul{
	list-style-type:none;
}

.top-nav ul li{
	transition: all 300ms ease;
	left:25px;
	position:relative;
}

.top-nav ul li:hover{
	left: 4px;
}


